body {
    margin: 0;
    padding: 0;
}

.view {
    position: relative;
    height: 225px;
    overflow: hidden
}

.item {
    position: absolute;
    width: 100%;
    height: 45px;
    border: 1px solid gray;
    box-sizing: border-box;
    transform: translateY(10px)
}