body {
    margin: 0;
    padding: 0;
}

.view {
    position: relative;
    height: 170px;
    overflow: hidden;
    perspective: 1200px;
    transform-style: preserve-3d;
    border: 1px solid red;
    box-sizing: border-box;
    --add: 0deg;
}

.item {
    position: absolute;
    width: 100%;
    height: 34px;
    box-sizing: border-box;
    line-height: 34px;
    text-align: center;
/*    backface-visibility: hidden;*/
    border: 1px solid black;
}

#view .item:nth-child(1) {
    transform: 
        translateY(133px) 
        translateY(0) 
        rotateX(calc(var(--add) + 0deg))
        translateZ(20px);
}

#view .item:nth-child(2) {
    transform: 
        translateY(133px) 
        translateY(34px) 
        rotateX(calc(var(--add) + -20deg))
        translateZ(20px);
}

#view .item:nth-child(3) {
    transform: 
        translateY(133px) 
        translateY(68px) 
        rotateX(calc(var(--add) + -40deg))
        translateZ(20px);
}

#view .item:nth-child(4) {
    transform: 
        translateY(133px) 
        translateY(102px) 
        rotateX(calc(var(--add) + -60deg))
        translateZ(20px);
}

#view .item:nth-child(5) {
    transform: 
        translateY(133px) 
        translateY(-102px) 
        rotateX(calc(var(--add) + 60deg))
        translateZ(20px);
}

#view .item:nth-child(6) {
    transform: 
        translateY(133px) 
        translateY(-68px) 
        rotateX(calc(var(--add) + 40deg))
        translateZ(20px);
}

#view .item:nth-child(7) {
    transform: 
        translateY(133px) 
        translateY(-34px) 
        rotateX(calc(var(--add) + 20deg))
        translateZ(20px);
}
